{
  "extends": "eslint:recommended",
  "env": {
    "browser": false,
    "node": true,
    "es6": true,
    "mocha": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "objectLiteralShorthandMethods": true,
      "objectLiteralShorthandProperties": true,
      "objectLiteralDuplicateProperties": true,
      "arrowFunctions": true
    }
  },
  "rules": {
    "semi": ["error", "always"]
  }
}
